KERNEL_REPO="https://github.com/YaroST12/RAPHAEL_Kernel.git"
KERNEL_BRANCHES="Q-raphael mi9fod-stuff"
KERNEL_CONF="raphael_defconfig"
KERNEL_NAME="F1xy"
KERNEL_ARCH="arm64"
GCC_PROVIDER="LOS"
CLANG_PROVIDER="GOOGLE"
ZIP_SCRIPT="F1xy"
NEEDS_PACKAGES="curl"
MAKE_ADDITIONAL="LD=ld.lld AR=llvm-ar NM=llvm-nm OBJCOPY=llvm-objcopy OBJDUMP=llvm-objdump STRIP=llvm-strip"
